@include scrollbars(1em, $dark-gray, $gray)

.medication-app
  padding: 20px

.medication-login

  .login-row
    height: 300px

    .login-col
      margin: auto

.medication-menu
  display: table
  width: 100%
  height: 100%

  .menu-box
    display: table-cell
    vertical-align: middle

.medication-information
  padding: 5px 50px
  overflow-x: hidden
  overflow-y: scroll
  height: 620px

  .information-title
    color: $dark-gray
    margin-bottom: 1.5rem

.medication-gallery

  .gallery-explorer
    display: none

  .gallery-values
    display: block

    padding: 5px 50px
    overflow-x: hidden
    overflow-y: auto
    height: 500px

    .values-item
      display: table

      float: left
      width: 150px
      height: 150px

      margin: 10px
      padding: 0

      border: none

      cursor: pointer

      &:hover
        transform: scale(1.05)

      &:active
        transform: scale(1)

      .item-container
        display: table
        width: 100%
        height: 100%

      .item-overlay
        display: table
        position: absolute
        opacity: 0

        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.2)

        transition: 0.1s

        &:hover
          opacity: 1

        .overlay-item
          display: table-cell
          width: 100px
          vertical-align: middle

          text-align: center
          color: white
          font-size: 2rem

          transition: 0.1s

          &:hover
            font-size: 2.5rem
            background-color: rgba(0, 0, 0, 0.2)

      .item-image
        display: table-cell
        vertical-align: middle
        text-align: center

        padding: 25px
        border: 1px solid $gray

        .image-value
          width: 100px

      .item-image-annotated
        border: 1px solid $green

      .item-image-not-annotated
        border: 1px solid $orange

      .item-icon
        display: table-cell
        vertical-align: middle
        text-align: center

        width: 100%

        padding: 25px
        border: 1px solid $gray

        color: $gray
        font-size: 3rem

      .item-icon-loading
        color: $blue
        border-color: $blue

      .item-icon-invalid
        color: $orange
        border-color: $orange

      .item-icon-error
        color: $red
        border-color: $red

      .item-button
        display: table-cell
        vertical-align: middle
        text-align: center

        width: 100px

        padding: 25px
        border: 1px solid $gray

        color: $gray
        font-size: 3rem

        transition: 0.1s

        &:hover
          transform: scale(1.05)
          color: $gray

        &:active
          transform: scale(1)
          color: $gray

      .item-button-plus
        color: $gray

        &:hover
          color: $green
          border-color: $green

        &:active
          color: $gray
          border-color: $gray

.medication-annotation
  display: block
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 100

  background-color: rgba(0, 0, 0, 0.2)

  .annotation-container
    display: table
    width: 100%
    height: 100%

    .container-button
      display: table-cell
      position: fixed
      margin: 25px
      top: 0
      right: 0
      z-index: 101

      vertical-align: middle
      text-align: center

      color: white
      font-size: 3rem

      cursor: pointer
      transition: 0.1s

      &:hover
        transform: scale(1.2)

      &:active
        transform: scale(1)

    .container-close
      right: 0

    .container-save
      right: 100px

    .container-block
      display: table-cell
      vertical-align: middle
      text-align: center

      .block-icon
        color: white
        font-size: 12rem

      .block-stage
        display: inline-block
        margin: 0 auto

.medication-table

  .table-nav
    display: table
    width: 100%

    margin-bottom: 3rem

    .nav-text
      display: table-cell

    .nav-link
      display: table-cell

      cursor: pointer
      color: $dark-gray

      transition: 0.1s

      &:hover
        transform: scale(1.2)

      &:last-of-type
        cursor: pointer
        color: $red

        &:hover
          transform: none

    .nav-button
      display: table-cell
      width: 100px

      vertical-align: middle
      text-align: center

      color: $gray
      font-size: 2rem

      cursor: pointer
      transition: 0.1s

      &:hover
        transform: scale(1.2)
        color: $gray

      &:active
        transform: scale(1)
        color: $gray

    .nav-button-plus
      color: $gray

      &:hover
        color: $green

      &:active
        color: $gray

    .nav-button-refresh
      color: $gray

      &:hover
        color: $red

      &:active
        color: $gray

    .nav-button-back
      color: $gray

      &:hover
        color: $red

      &:active
        color: $gray

  .table-header
    margin-bottom: 1.5rem
    padding: 0 71px

    text-transform: uppercase
    font-weight: bold

    .header-column

  .table-values
    padding: 5px 50px
    overflow-x: hidden
    overflow-y: scroll
    height: 500px

    .values-item
      cursor: pointer
      transition: 0.1s
      margin-bottom: 0.5rem

      &:hover
        transform: scale(1.05)
        background-color: $gray

      .item-value
        margin: auto
        text-transform: uppercase

        .value-text
          text-align: left

        .value-icon
          text-align: right

          color: $gray
          cursor: pointer
          transition: 0.1s

          &:hover
            transform: scale(1.5)
            color: $gray

          &:active
            transform: scale(1)
            color: $gray

        .value-icon-delete
          color: black

          &:hover
            color: $red

          &:active
            color: black

      .item-value-left
        text-align: left

      .item-value-right
        text-align: right

.medication-jumbo
  margin: 0

.medication-alert
  margin: 0
  padding: 25px

.medication-container
  margin: 1.5rem auto

.medication-work
  display: block
  position: relative

  width: 100%
  height: 800px
  margin: 1.5rem auto

  .work-container
    display: flex
    position: absolute
    width: 100%
    height: 100%

    justify-content: center
    align-items: center
    will-change: transform, opacity

    .work-child
      position: absolute
      width: 100%
      height: 100%

.medication-selector
  margin: 20px

  text-align: center

  .selector-button
    width: 150px
    height: 150px

    outline: none
    cursor: pointer
    border: 5px solid transparent
    border-radius: 100%

    background-color: $gray

    transition: 0.1s

    &:hover, &:focus
      transform: scale(1.1, 1.1)

    &:active
      transform: scale(1.0, 1.0)

  .selector-button-disabled
    width: 150px
    height: 150px

    outline: none
    cursor: no-drop
    border: 5px solid transparent
    border-radius: 100%

    background-color: $gray
    transition: 0.1s

    &:hover, &:focus, &:active
      outline: none

      cursor: no-drop
      transform: none

  .selector-icon
    font-size: 75px
    color: white

  .selector-title
    margin-top: 20px

    color: $gray
    font-size: 25px

.medication-input
  display: table
  width: 100%

  .input-value
    display: table-cell
    width: 100%
    padding: .75rem 1.25rem

    border: 1px solid $gray

    font-size: 1rem

  .input-icon
    display: table-cell
    width: 100px

    vertical-align: middle
    text-align: center

    color: $gray
    font-size: 2rem

    cursor: pointer
    transition: 0.1s

    &:hover
      transform: scale(1.2)
      color: $blue

    &:active
      transform: scale(1)
      color: $gray

.medication-nav

  .nav-group
    display: table
    width: 100%

    .nav-text
      display: table-cell

    .nav-link
      display: table-cell

      cursor: pointer
      color: $dark-gray

      transition: 0.1s

      &:hover
        transform: scale(1.2)

      &:last-of-type
        cursor: pointer
        color: black

        &:hover
          transform: none

    .nav-button
      display: table-cell
      width: 100px

      vertical-align: middle
      text-align: center

      color: $gray
      font-size: 2rem

      cursor: pointer
      transition: 0.1s

      &:hover
        transform: scale(1.2)
        color: $gray

      &:active
        transform: scale(1)
        color: $gray

    .nav-button-logout
      color: $gray

      &:hover
        color: $red

      &:active
        color: $gray

    .nav-button-refresh
      color: $gray

      &:hover
        color: $blue

      &:active
        color: $gray

    .nav-button-train
      color: $gray

      &:hover
        color: $blue

      &:active
        color: $gray

  .nav-margin-top
    margin-top: 1.5rem

  .nav-keepwidth
    width: 1px

.medication-frame

  .frame-button-picture
    position: absolute
    left: 50px
    bottom: 50px
    width: 100px
    height: 100px
    font-size: 50px
    border-radius: 50%

  .frame-button-recognition
    position: absolute
    right: 50px
    bottom: 50px
    width: 100px
    height: 100px
    font-size: 50px
    border-radius: 50%

.medication-loading
  position: fixed
  width: 100%
  height: 100%
  top: 0
  bottom: 0
  left: 0
  right: 0

  z-index: 100
  background-color: rgba(0.0, 0.0, 0.0, 0.75)

  .loading-value
    display: table
    position: fixed
    width: 100%

    top: 0
    bottom: 0
    right: 0
    left: 0
    margin: auto

    text-align: center

    .loading-value-image
      margin: auto
      width: 600px
      border: 2px solid white

    .loading-value-message
      margin: 64px auto

      color: white
      font-size: 26px
      text-transform: uppercase

    .loading-value-icon
      margin: 64px auto
      transform: scale(3.0, 3.0)
