@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%))
  ::-webkit-scrollbar
    width:  $size
    height: $size

  ::-webkit-scrollbar-thumb
    background: $foreground-color

  ::-webkit-scrollbar-track
    background: $background-color

  // Internet Explorer
  body
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color
